.Post {
  display: flex;
}

.infoData {
  margin: 20px 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: black;
}

.infoData:first-child {
  width: 30%;
}

.infoData:nth-child(2) {
  width: 100%;
}

.infoData:nth-child(3) {
  width: 30%;
}

.infoData:last-child {
  width: 60%;
}

.odd {
  background-color: #ffffff;
}
