.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: url('../../../../public/assets/header.png');
  background-size: cover;
  height: 100vh;
}

.section2 {
  background: linear-gradient(to bottom right, #003366, #ffffff);
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.section3 {
  background: linear-gradient(to bottom right, #0066cc, #ffffff);
  background-size: contain;
  display: flex;
  height: 100vh;
}

.section4 {
  background: linear-gradient(to bottom right, #0099ff, #ffffff);
  background-size: contain;
  height: 100vh;
  display: flex;
}

.section5 {
  background: linear-gradient(to bottom right, #66b3ff, #ffffff);
  background-size: contain;
  height: 100vh;
  display: flex;
}

.section6 {
  height: 160px;
}

.title {
  margin-top: 18%;
  font-size: 10em;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px #000000;
}

.intro {
  font-size: 20px;
  text-shadow: 2px 2px 4px #000000;
}
