.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91vh;
  background-color: #f0f8ff; /* 아주 연한 파란색 배경 */
}

.signupForm {
  width: 400px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 255, 0.2);
  background-color: #fff;
}

.title {
  color: #007bff; /* 밝은 파란색 */
  text-align: center;
  margin-bottom: 50px;
}

.inputGroup {
  margin-left: 63px;
  margin-bottom: 20px;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
}

.inputGroup input {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.submitButton {
  width: 270px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #007bff; /* 밝은 파란색 */
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 65px;
}

.submitButton:hover {
  background-color: #0056b3; /* 조금 더 어두운 파란색 */
}
